html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #0000;
}

.asideItem {
    opacity: 0.8; 
    transition: opacity 0.3s, transform 0.3s; 

}

.asideItem:hover  {
    opacity: 1;
    transform: scale(1.001);
}

.w-6{
    background: linear-gradient(139deg, #0000f9, #ffffff);
    padding: 3.7px;
}
