* {
  box-sizing: border-box;
  font-style: normal;
}

html,
body {
  font-family: "Circular", "Helvetica Neue", Helvetica, Arial;
  background-color: black;
}

.search {
  font-size: 20px;
}

.form-control {
  background-color: transparent !important;
  width: 25em;
}

@media screen and (max-width: 768px) {
  .search {
    width: 20em !important;
  }
  svg {
    width: 20px !important;
  }
  form input {
    padding-right: 8em !important;
  }

  .liGrande {
    width: 25% !important;
  }
  .bi-spotify {
    font-size: 2em !important;
  }
}

.dropdown-menu {
  font-size: small !important;
}

/* TODO: controllare perchè non va
.search:focus {
    border-color: white !important;
} */

.nav-text {
  font-size: 14px !important;
}

.big-image,
.big-li {
  width: 2% !important;
}

.liGrande {
  width: 16%;
}

.dropdown-item:hover {
  background-color: #3e3d3d !important;
}

.asideItem {
  opacity: 0.8;
  transition: opacity 0.3s, transform 0.3s;
}

.asideItem:hover {
  opacity: 1;
  transform: scale(1.001);
}

.w-6 {
  background: linear-gradient(139deg, #0000f9, #ffffff);
  padding: 3.7px;
}

@media screen and (max-width: 992px) {
  aside ul li svg {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  aside ul li svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 576px) {
  aside ul li svg {
    width: 40px !important;
    height: 40px !important;
  }
}

.backgroundMain {
  background-color: #121212;
}

.greenSpotify {
  background-color: #1ed760;
}

.gradientHero {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    25deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 46%,
    rgba(255, 255, 255, 0) 97%
  );
}

.gradientViolet {
  background-color: #121212;
  background: rgb(120, 96, 232);
  background: linear-gradient(
    180deg,
    rgba(120, 96, 232, 0.5019257703081232) 0%,
    rgba(120, 96, 232, 0.48792016806722693) 19%,
    rgba(18, 18, 18, 0) 100%
  );
}

.fontPlaylists {
  font-size: 0.9em !important;
}

#song-title {
  font-weight: bold;
}

#volume-control {
  width: 120px;
}

#playlist {
  display: inline-block;
  background-color: #282828;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

#playlist:hover #btnGreenPlay {
  display: block;
  animation: slideUp 0.3s forwards;
}

#btnGreenPlay {
  height: 55px;
  display: none;
  background-color: #1db954;
  color: white;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#btnGreenPlay:hover {
  background-color: #1ed760;
  transform: scale(1.1);
}

.playlist:hover {
  transform: scale(1.05);
}

@keyframes slideUp {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 70%;
    opacity: 1;
  }
}

.album-grow:hover {
  transform: scaleX(1.1) scaleY(1.1);
  cursor: pointer;
}

footer ul li {
  font-size: 0.8em !important;
  line-height: 1 !important;
  opacity: 50% !important;
}

@media screen and (max-width: 1200px) {
  footer section img {
    width: 120%;
  }
}

@media screen and (max-width: 992px) {
  footer section img {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  footer h5 {
    font-size: 1em;
  }
}

.btn-play {
  width: 40px;
  height: 40px;
  font-size: 1em !important;
  text-align: center !important;
  padding-left: 14px;
}

.fa-pause {
  padding-right: 2px;
}

#playerBtnBack:hover,
#playerBtnForward:hover {
  color: white !important;
  opacity: 100% !important;
  transform: scaleX(1.1) scaleY(1.1);
}

#progress-bar {
  -webkit-appearance: none; /* Rimuove lo stile predefinito nei browser WebKit */
  appearance: none;
  height: 4px; /* Altezza del cursore */
  background-color: white;
  opacity: 50%;
}

#progress-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none; /* Rimuove lo stile predefinito nei browser WebKit */
  appearance: none;
  height: 4px; /* Altezza della barra */
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Rimuove lo stile predefinito nei browser WebKit */
  appearance: none;
  width: 12px; /* Dimensione del cursore */
  height: 12px;
  margin-top: -5px; /* Centra il cursore rispetto alla barra */
  background-color: white;
  border-radius: 50%;
}

#current-time,
#total-time {
  font-size: small;
  opacity: 50%;
}

#volume-control {
  -webkit-appearance: none; /* Rimuove lo stile predefinito su WebKit */
  appearance: none; /* Rimuove lo stile predefinito */
  height: 4px; /* Altezza della barra */
  background: #ddd; /* Colore della barra */
  border-radius: 2px; /* Angoli arrotondati */
  outline: none; /* Rimuove il contorno */
  opacity: 50%;
}


#volume-control::-webkit-slider-runnable-track {
  height: 4px; /* Altezza della barra */
  background: #ddd; /* Colore della barra */
  border-radius: 2px;
}

#volume-control::-webkit-slider-thumb {
  -webkit-appearance: none; /* Permette di personalizzare il cursore */
  appearance: none;
  width: 10px; /* Larghezza del cursore */
  height: 10px; /* Altezza del cursore */
  background-color: white; /* Colore del cursore */
  border-radius: 50%; /* Forma circolare */
  cursor: pointer;
  margin-top: -4px; /* Centra il cursore verticalmente */
}

@media screen and (max-width: 576px) {
  #volume-control {
   width: 50px !important;
  }
  #volume i {
   font-size: smaller;
  }

  #volume-control::-webkit-slider-thumb {
    width: 7px;
    height: 7px;
    margin-top: -2px;
  }
 }

 .contenitoreImg {
  height: 400px;
} 

.contenitoreImg img {
  top: -65%;
}

@media screen and (max-width: 768px) {
  .contenitoreImg img {
    top: -35%;
  }
  
}

.btnCiccio:hover {
  background-color: #3be476;
  transform: scaleX(1.05) scaleY(1.05);
}

.btnSegui:hover {
  border-color: white !important;
  transform: scaleX(1.05) scaleY(1.05) !important;
}

.logoColorato {
  color: #1ed760;
  font-size: 1.7em !important;
}

.linkColorato:hover,
.playMusicHover:hover {
  color: white !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.contenitoreImgAlbum {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.bi-plus-circle:hover {
  color: white !important;
}

.elenco:hover {
  color: white !important;
}

.clock {
  margin-right: 4em !important;
}

.playerImg {
  width: 80px !important;
}

.lineaColorata {
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.lineaColorata:hover {
  background-color: #333;
}

ol li::marker {
  content: "" counter(list-item) "";
  font-weight: 200;
  font-size: 110%;
  color: #ffffff8f;
}

.bi-heart-fill {
  color: #1ed760;
}

#row2 {
  overflow: auto;
}

#row2::-webkit-scrollbar {
height: 8px;
}
#row2::-webkit-scrollbar-track {
  background-color: transparent;
  width: 10px;
}
#row2::-webkit-scrollbar-thumb {
  background-repeat: no-repeat, no-repeat;
  background-color: #898989;
  border-radius: 50px;
}

#row2::-webkit-scrollbar-thumb:hover {
  background-repeat: no-repeat, no-repeat;
  background-color: white;
  border-radius: 50px;
}

#nomeArtista {
  text-shadow: 2px 2px 4px black;
}

#ascoltatoriMensili, #verificato {
  text-shadow: 1px 1px 2px black !important;
}

#ol {
  overflow: hidden;
  max-height: 520px;  
  transition: max-height 0.5s ease; 
}

.stickyAside, .stickyAlbum {
  position: sticky !important;
  top: 75px !important;
}

.titoloScroll {
  font-size: xx-large;
  text-align: start;
}

@media screen and (max-width: 1200px) {
  .titoloScroll {
    font-size: x-large;
  }
}

@media screen and (max-width: 992px) {
  .titoloScroll {
    font-size: larger;
  }
.stickyAlbum {
  top: 67px !important;
}
  
}

@media screen and (max-width: 768px) {
  .titoloScroll {
    font-size: large;
  }
  .stickyAlbum {
    top: 75px !important;
  }
}

@media screen and (max-width: 576px) {
  .titoloScroll {
    font-size: medium;
  }
  .stickyAside {
    position: sticky !important;
    top: 20px !important;
  }
  
}

.titoloScroll {
  opacity: 0.5; /* Inizialmente invisibile */
  transition: opacity 0.5s ease-in-out; /* Transizione fluida */
}

.text-transition .titoloScroll {
  opacity: 1; /* Mostra il testo con transizione */
}
